@import './media';

$grid-count: 12 !default;
$grid-gutter-small: 16px !default;
$grid-gutter-medium: 20px !default;
$grid-gutter: 30px !default;
$grid-breakpoint-medium: smedium !default;
$grid-breakpoint-large: xlarge !default;

$wrapper-max-width: 1170px !default;
$wrapper-gutter-small: 10px !default;
$wrapper-gutter-medium: 15px !default;
$wrapper-gutter: 30px !default;

@mixin grid-row($gutter:()) {
  $_gutter-large: $grid-gutter;
  $_gutter-medium: $grid-gutter-medium;
  $_gutter-small: $grid-gutter-small;

  @if map-has-key($gutter, gutter) {
    $_gutter-large: map-get($gutter, gutter);
  }
  @if map-has-key($gutter, gutter-medium) {
    $_gutter-medium: map-get($gutter, gutter-medium);
  }
  @if map-has-key($gutter, gutter-small) {
    $_gutter-small: map-get($gutter, gutter-small);
  }

  @include clearfix;
  position: relative;
  display: block;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin-left: -($_gutter-small / 2);
  margin-right: -($_gutter-small / 2);

  @include media($grid-breakpoint-medium) {
    display: flex;
    margin-left: -($_gutter-medium / 2);
    margin-right: -($_gutter-medium / 2);
  }

  @include media($grid-breakpoint-large) {
    margin-left: -($_gutter-large / 2);
    margin-right: -($_gutter-large / 2);
  }

  &:last-child {
    margin-bottom: -$_gutter-small;

    @include media($grid-breakpoint-medium) {
      margin-bottom: -$_gutter-medium;
    }

    @include media($grid-breakpoint-large) {
      margin-bottom: -$_gutter-large;
    }
  }
}

@mixin grid-column($columns, $gutter:()) {
  $_gutter-large: $grid-gutter;
  $_gutter-medium: $grid-gutter-medium;
  $_gutter-small: $grid-gutter-small;

  @if map-has-key($gutter, gutter) {
    $_gutter-large: map-get($gutter, gutter);
  }
  @if map-has-key($gutter, gutter-medium) {
    $_gutter-medium: map-get($gutter, gutter-medium);
  }
  @if map-has-key($gutter, gutter-small) {
    $_gutter-small: map-get($gutter, gutter-small);
  }

  padding-left: $_gutter-small / 2;
  padding-right: $_gutter-small / 2;
  padding-bottom: $_gutter-small;

  @include media($grid-breakpoint-medium) {
    float: left;
    width: (6 / $grid-count * 100) + %; // 2 rows
    flex: 0 0 (6 / $grid-count * 100) + %;
    max-width: (6 / $grid-count * 100) + %;
    padding-left: $_gutter-medium / 2;
    padding-right: $_gutter-medium / 2;
    padding-bottom: $_gutter-medium;
  }

  @include media(large) {
    width: ($columns / $grid-count * 100) + %;
    flex: 0 0 ($columns / $grid-count * 100) + %;
    max-width: ($columns / $grid-count * 100) + %;
  }

  @include media($grid-breakpoint-large) {
    padding-left: $_gutter-large / 2;
    padding-right: $_gutter-large / 2;
    padding-bottom: $_gutter-large;
  }
}

@mixin wrapper($max-width:$wrapper-max-width) {
  width: 100%;
  max-width: $max-width + ($wrapper-gutter * 2);
  position: relative;
  padding-left: $wrapper-gutter-small;
  padding-right: $wrapper-gutter-small;
  margin: auto;

  @include media($grid-breakpoint-medium) {
    padding-left: $wrapper-gutter-medium;
    padding-right: $wrapper-gutter-medium;
  }

  @include media($grid-breakpoint-large) {
    padding-left: $wrapper-gutter;
    padding-right: $wrapper-gutter;
  }
}
