$query-breakpoints: (
  xsmall: 360px,
  small: 480px,
  smedium: 640px,
  medium: 980px,
  large: 1024px,
  xlarge: 1200px
) !default;

@function query-breakpoint-val($breakpoint) {
  @if not map-has-key($query-breakpoints, $breakpoint) {
    @return $breakpoint;
  }
  @else {
    @return map-get($query-breakpoints, $breakpoint);
  }
}

@mixin media($from, $to:'', $prop:width) {
  @if $from == 0 {
    @media screen and (max-#{$prop}:#{query-breakpoint-val($to) - 1px}) {
      @content;
    }
  }
  @else if $to == '' or $to == infinite {
    @media screen and (min-#{$prop}:#{query-breakpoint-val($from)}) {
      @content;
    }
  }
  @else {
    @media screen and (min-#{$prop}:#{query-breakpoint-val($from)}) and (max-#{$prop}:#{query-breakpoint-val($to) - 1px}) {
      @content;
    }
  }
}

@mixin media_down($to) {
  @include media(0, $to) {
    @content;
  }
}
