$em-base: 16px !default;

$query-breakpoints: (
  xsmall: em-calc(360),
  small: em-calc(480),
  smedium: em-calc(640),
  medium: em-calc(980),
  large: em-calc(1024),
  xlarge: em-calc(1200)
) !default;

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function em-calc($px){
  @return strip-unit($px) / strip-unit($em-base) * 1em;
}

@function query-breakpoint-val($breakpoint) {
  @if not map-has-key($query-breakpoints, $breakpoint) {
    @return $breakpoint;
  }
  @else {
    @return #{map-get($query-breakpoints, $breakpoint)};
  }
}

@mixin media($from, $to:'', $prop:width) {
  @if $from == 0 {
    @media screen and (max-#{$prop}:#{query-breakpoint-val($to) - em-calc(1)}) {
      @content;
    }
  }
  @else if $to == '' or $to == infinite {
    @media screen and (min-#{$prop}:#{query-breakpoint-val($from)}) {
      @content;
    }
  }
  @else {
    @media screen and (min-#{$prop}:#{query-breakpoint-val($from)}) and (max-#{$prop}:#{query-breakpoint-val($to) - em-calc(1)}) {
      @content;
    }
  }
}

@mixin media_down($to) {
  @include media(0, $to) {
    @content;
  }
}
