@mixin clearfix {
  zoom: 1;

  &::before,
  &::after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
  }

  &::after {
    clear: both;
  }
}

@mixin font-face($path, $name, $family, $ver, $weight:normal, $style:normal) {
  font-family: '#{$family}';
  font-weight: #{$weight};
  font-style: #{$style};
  src:  url('#{$path}/#{$name}.eot?v=#{$ver}');
  src:  url('#{$path}/#{$name}.eot?#iefix&v=#{$ver}') format('embedded-opentype'),
        url('#{$path}/#{$name}.woff?v=#{$ver}') format('woff'),
        url('#{$path}/#{$name}.ttf?v=#{$ver}') format('truetype'),
        url('#{$path}/#{$name}.svg?v=#{$ver}##{$name}') format('svg');
}

@mixin aspect-ratio($width, $height) {
  position: relative;

  &::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
}
