@mixin clearfix {
  zoom: 1;

  &::before,
  &::after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
  }

  &::after {
    clear: both;
  }
}


@mixin aspect-ratio($width, $height) {
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


@mixin hide-element($duration: .15s, $timing: ease) {
  opacity: 0;
  visibility: hidden;
  transition: opacity $duration $timing;
}


@mixin show-element {
  opacity: 1;
  visibility: visible;
}