@import './index';

@mixin col { // for testing
  padding-top: 16px;
  padding-bottom: 16px;
  background: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
}

h2 {
  font-size: 30px;
  line-height: 1.2;
  margin: 50px 0 30px;
}

.wrapper {
  @include wrapper;
}

.row {
  margin-bottom: 16px;

  & > div:not(.w-100) {
    @include col;
  }
}

// Grid Examples

#auto-layout-columns {

  .table {
    @include grid-container;
  }

  .row {
    @include grid-row;
  }

  .col {
    @include grid-column(responsive);
  }
}

#multi-row-columns {

  .table {
    @include grid-container;
  }

  .row {
    @include grid-row;
  }

  .col {
    @include grid-column(responsive);
  }

  .w-100 {
    @include grid-column(12);
  }
}

#custom-width-columns {

  .table {
    @include grid-container;
  }

  .row {
    @include grid-row;
  }

  .col {
    @include grid-column;
  }

  .col-5 {
    @include grid-column(5);
  }

  .col-6 {
    @include grid-column(6);
  }
}

#custom-breakpoints-columns {

  .table {
    @include grid-container;
  }

  .row {
    @include grid-row;
  }

  .col-4 {
    @include grid-column((default: 6, 600px: 4));
  }

  .col-2-5 {
    @include grid-column((default: 12, small: 6, smedium: 2.4));
  }
}

#row-args {

  .table {
    @include grid-container;
  }

  .row {

    &.justify-center {
      @include grid-row((justify: center));
    }

    &.justify-end {
      @include grid-row((justify: end));
    }

    &.justify-space-between {
      @include grid-row((justify: space-between));
    }
  }

  .col-3 {
    @include grid-column(3, (grow: false));
  }

  .col-2 {
    @include grid-column(2, (grow: false));
  }
}

#column-args {

  .table {
    @include grid-container;
  }

  .row {
    @include grid-row;
  }

  .col-3 {
    @include grid-column(3);
  }

  .auto {
    .col-custom {
      @include grid-column(auto);
    }
  }

  .justify-end {
    .col-custom {
      @include grid-column(auto, (justify: end, grow: false));
    }
  }

  .justify-center {
    .col-custom {
      @include grid-column(3, (justify: center, grow: false));
    }
  }

  .order {
    .col-custom {
      @include grid-column(auto, (order: -1));
    }
  }
}

#vertical-alignment {

  .table {
    @include grid-container;
  }

  .row {
    height: 120px;
    background-color: rgba(255, 0, 0, .1);

    &.align-default,
    &.align-self {
      @include grid-row;
    }

    &.align-start {
      @include grid-row((align: flex-start));
    }

    &.align-center {
      @include grid-row((align: center));
    }

    &.align-end {
      @include grid-row((align: flex-end));
    }
  }

  .col-4 {
    @include grid-column(4);

    &.start {
      @include grid-column(4, (align-self: flex-start));
    }

    &.center {
      @include grid-column(4, (align-self: center));
    }

    &.end {
      @include grid-column(4, (align-self: flex-end));
    }
  }
}

#nesting {

  .table {
    @include grid-container;
  }

  .row {
    @include grid-row;
  }

  .col-4 {
    @include grid-column(4);
  }

  .col-6 {
    @include grid-column(6);
  }

  .col-8 {
    @include grid-column(8);
  }
}